body {
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.5rem;
}

.container {
  display: grid;
  grid-template-columns: 0.4fr 0.3fr 0.3fr;
  /*   grid-template-rows: auto 25px auto 25px auto 25px auto 25px auto 25px auto; */
  grid-column-gap: 10px;
  grid-row-gap: 15px;
}
.grid {
  background-color: #444;
  color: #fff;
  padding: 25px;
  font-size: 3rem;
}
.header {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-color: #55d4eb;
}

.hero {
  grid-column: 1 / 2;
  grid-row-start: 2 / 3;
  background-color: #d5c9e2;
  min-height: 300px;
}

.content {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  min-height: 500px;
  background-color: #f5c531;
}

.bikini {
  display: flex;
  min-height: 200px;
  /* border-radius: 100%; */
  justify-content: space-around;
  align-items: center;
}

.colours {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100px;
}

.circle {
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 1px solid black;
  transition: all 200ms ease-out;
}

.circle--active {
  border-color: white;
  transform: scale(1.5);
}

.red {
  background-color: #fa0e00;
}

.blue {
  background-color: blue;
}

.pink {
  background-color: pink;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .header {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .hero {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .content {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    background: #f5c531;
    height: 400px;
  }
}
